## Edgar Moises Hernandez Gonzalez

In [ ]:
import time

import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [ ]:
df_train = pd.read_csv("train_set.csv")
df_train

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,trip_id,duration,start_time,end_time,start_lat,start_lon,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,start_station,end_station
0,101750280,35,2018-08-07 11:20:00,2018-08-07 11:55:00,33.748920,-118.275192,33.748920,-118.275192,06530,1.0,Round Trip,Walk-up,4127,4127
1,46560345,32,9/17/2017 17:51,9/17/2017 18:23,34.035679,-118.270813,34.047749,-118.243172,6683,0.0,One Way,Walk-up,3057,3062
2,120016336,6,2019-04-22 09:22:00,2019-04-22 09:28:00,34.046070,-118.233093,34.047749,-118.243172,06710,30.0,One Way,Monthly Pass,3022,3062
3,129547190,138,9/22/2019 11:27,9/22/2019 13:45,34.062580,-118.290092,34.059689,-118.294662,17068,1.0,One Way,One Day Pass,4304,4311
4,136619463,14,1/31/2020 17:11,1/31/2020 17:25,34.026291,-118.277687,34.021660,-118.278687,18841,30.0,One Way,Monthly Pass,4266,4443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,83666862,17,2018-04-25 18:32:00,2018-04-25 18:49:00,34.049889,-118.255882,34.074829,-118.258728,06505,30.0,One Way,Monthly Pass,3032,4220
699996,132547303,9,2019-11-12 16:49:10,2019-11-12 16:58:51,34.039188,-118.232529,34.056610,-118.237213,18348,30.0,One Way,Monthly Pass,3036,3014
699997,67332628,6,2018-01-13 15:49:00,2018-01-13 15:55:00,34.049889,-118.255882,34.050480,-118.254593,05718,365.0,One Way,Flex Pass,3032,3007
699998,114846232,3,2019-02-04 14:16:00,2019-02-04 14:19:00,34.045181,-118.250237,34.045540,-118.256668,12195,1.0,One Way,Walk-up,3067,3006
699999,167744702,59,8/1/2021 20:26,8/1/2021 21:25,33.984341,-118.471550,34.023392,-118.479637,16201,1.0,One Way,Walk-up,4210,4216

In [ ]:
df_test = pd.read_csv("test_set.csv")
df_test

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,trip_id,duration,start_time,end_time,start_lat,start_lon,end_lat,end_lon,bike_id,trip_route_category,start_station,end_station
0,17059130,12,1/1/2017 0:24,1/1/2017 0:36,34.058319,-118.246094,34.058319,-118.246094,6351,Round Trip,3028,3028
1,17059129,17,1/1/2017 0:28,1/1/2017 0:45,34.049980,-118.247162,34.043732,-118.260139,5836,One Way,3027,3018
2,17059126,20,1/1/2017 0:39,1/1/2017 0:59,34.063389,-118.236160,34.044159,-118.251579,6529,One Way,3066,3055
3,17059125,12,1/1/2017 0:43,1/1/2017 0:55,34.048851,-118.246422,34.050140,-118.233238,6029,One Way,3029,3079
4,17061379,48,1/1/2017 0:56,1/1/2017 1:44,34.049198,-118.252831,34.049198,-118.252831,6680,Round Trip,3063,3063
...,...,...,...,...,...,...,...,...,...,...,...,...
569881,179408277,19,12/31/2021 23:29,12/31/2021 23:48,34.040989,-118.255798,34.041130,-118.267982,14027,One Way,3033,3011
569882,179408276,8,12/31/2021 23:40,12/31/2021 23:48,34.044701,-118.252441,34.051941,-118.243530,20006,One Way,3031,3030
569883,179409877,43,12/31/2021 23:47,1/1/2022 0:30,34.044701,-118.252441,34.044701,-118.252441,16214,Round Trip,3031,3031
569884,179409876,42,12/31/2021 23:48,1/1/2022 0:30,34.044701,-118.252441,34.044701,-118.252441,13336,Round Trip,3031,3031
569885,179492474,1440,12/31/2021 23:48,1/2/2022 12:56,34.051941,-118.243530,34.047440,-118.247940,6117,One Way,3030,4491

In [ ]:
df_train = df_train[[
    "duration", "trip_route_category", "start_station", "end_station", "passholder_type"
]]
df_train

,duration,trip_route_category,start_station,end_station,passholder_type
0,35,Round Trip,4127,4127,Walk-up
1,32,One Way,3057,3062,Walk-up
2,6,One Way,3022,3062,Monthly Pass
3,138,One Way,4304,4311,One Day Pass
4,14,One Way,4266,4443,Monthly Pass
...,...,...,...,...,...
699995,17,One Way,3032,4220,Monthly Pass
699996,9,One Way,3036,3014,Monthly Pass
699997,6,One Way,3032,3007,Flex Pass
699998,3,One Way,3067,3006,Walk-up
699999,59,One Way,4210,4216,Walk-up

In [ ]:
df_test = df_test[[
    "duration", "trip_route_category", "start_station", "end_station"
]]
df_test

        duration trip_route_category  start_station  end_station
0             12          Round Trip           3028         3028
1             17             One Way           3027         3018
2             20             One Way           3066         3055
3             12             One Way           3029         3079
4             48          Round Trip           3063         3063
...          ...                 ...            ...          ...
569881        19             One Way           3033         3011
569882         8             One Way           3031         3030
569883        43          Round Trip           3031         3031
569884        42          Round Trip           3031         3031
569885      1440             One Way           3030         4491

[569886 rows x 4 columns]

In [ ]:
# eliminar NaN por filas
df_train = df_train.dropna()

In [ ]:
# index de 0 a n-1
df_train = df_train.reset_index(drop=True)

In [ ]:
ohe = OneHotEncoder(sparse=False)
transformed_train = ohe.fit_transform(df_train[["trip_route_category"]])
ohe.categories_

[array(['One Way', 'Round Trip'], dtype=object)]

In [ ]:
ohe = OneHotEncoder(sparse=False)
transformed_test = ohe.fit_transform(df_test[["trip_route_category"]])
ohe.categories_

[array(['One Way', 'Round Trip'], dtype=object)]

In [ ]:
df_train["one_way"] = transformed_train[:,0]
df_train["round_trip"] = transformed_train[:,1]
df_train = df_train.drop(["trip_route_category"], axis=1)

df_test["one_way"] = transformed_test[:,0]
df_test["round_trip"] = transformed_test[:,1]
df_test = df_test.drop(["trip_route_category"], axis=1)

<ipython-input-12-cfdf380c38ff>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["one_way"] = transformed_test[:,0]
<ipython-input-12-cfdf380c38ff>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test["round_trip"] = transformed_test[:,1]

In [ ]:
df_train["one_way"] = df_train["one_way"].apply(lambda x: int(x))
df_train["round_trip"] = df_train["round_trip"].apply(lambda x: int(x))

df_test["one_way"] = df_test["one_way"].apply(lambda x: int(x))
df_test["round_trip"] = df_test["round_trip"].apply(lambda x: int(x))

In [ ]:
le = LabelEncoder().fit(df_train["passholder_type"])
df_train["passholder_type_target"] = le.transform(df_train["passholder_type"])
df_train = df_train.drop(["passholder_type"], axis=1)

In [ ]:
x_train = df_train.iloc[:, :-1].to_numpy()

In [ ]:
x_test = df_test.to_numpy()

In [ ]:
y_train = df_train["passholder_type_target"].to_numpy()

In [ ]:
inicio = time.time()

clf = RandomForestClassifier()
clf.fit(x_train, y_train)

print("Elapsed:", time.time() - inicio)

Elapsed: 94.87933826446533

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
y_pred_name = le.inverse_transform(y_pred)

In [ ]:
df_pred = pd.read_csv("sample_submission.csv")
df_pred

          trip_id passholder_type
0        17059130    Monthly Pass
1        17059129    Monthly Pass
2        17059126    Monthly Pass
3        17059125    Monthly Pass
4        17061379    Monthly Pass
...           ...             ...
569881  179408277    Monthly Pass
569882  179408276    Monthly Pass
569883  179409877    Monthly Pass
569884  179409876    Monthly Pass
569885  179492474    Monthly Pass

[569886 rows x 2 columns]

In [ ]:
df_pred["passholder_type"] = y_pred_name
df_pred

          trip_id passholder_type
0        17059130         Walk-up
1        17059129    Monthly Pass
2        17059126    Monthly Pass
3        17059125    Monthly Pass
4        17061379         Walk-up
...           ...             ...
569881  179408277         Walk-up
569882  179408276    Monthly Pass
569883  179409877         Walk-up
569884  179409876    Monthly Pass
569885  179492474         Walk-up

[569886 rows x 2 columns]

In [ ]:
df_pred.to_csv("submission.csv", index=False)